include ../head.pug
body
  p This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
  .container.mt-5
    h1 List of Recipes
    // Filter options
    form(action="/recipes", method="GET")
      label(for="category") Category:
      select(name="category", id="category")
        option(value="all") All Categories
        // Add other category options here
      label(for="sort") Sort By:
      select(name="sort", id="sort")
        option(value="popularity") Popularity
        option(value="date") Date Added
      button.btn.btn-primary(type="submit") Filter

    // Table displaying recipes
    table.table.table-responsive.table-hover.table-striped.table-dark
      thead
        tr
          th(scope="col") ID
          th(scope="col") Recipe Name
          th(scope="col") Ingredients
          th(scope="col") Steps
          th(scope="col") Actions
      tbody
        each recipe in recipes
          tr
            td= recipe.id
            td= recipe.name
            td= recipe.ingredients ? recipe.ingredients.join(', ') : ''
            td= recipe.steps ? recipe.steps.join(', ') : ''
            td
              a.btn.btn-primary.btn-sm(href=`/recipes/${recipe.id}/edit`) Edit
              // Update the form to include the hidden input for method override
              form(action=`/recipes/${recipe.id}`, method="POST")
                input(type="hidden" name="_method" value="DELETE")
                button.btn.btn-danger.btn-sm(type="submit") Delete
    // Button to add new recipe
    a.btn.btn-success(href="/recipes/new") Add New Recipe
